:root{
    --Yellow: #F5FF01;
    --Orange: #F78101;
    --fontData: 'Merriweather Sans', sans-serif;
    --fontDescription: 'Quicksand', sans-serif;
    --max: 1000px;
    --coffee: rgba(48, 48, 48, 0.747);
    --colorBoxShadow: rgba(2, 5, 41, 0.904);
    --colorBorder: rgba(0,0,0,0.639093137254902);
    --backgroundPhoto: rgba(165, 165, 165, 0.75);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background: var(--Yellow);
    background: -webkit-linear-gradient(left, var(--Yellow), var(--Orange));
    background: -moz-linear-gradient(left, var(--Yellow), var(--Orange));
    background: linear-gradient(to right, var(--Yellow), var(--Orange)); */
    background-color: #141311;
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba( 0, 0, 0, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );   
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(150px);
}

.gradient{
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
    mix-blend-mode: screen;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-1{
    background: rgb(251, 104, 45) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 700px;
    height: 700px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 60%;
    top: 40%;
    z-index: -2;
    animation-name: animation-gradient-1;
}

.gradient-2 {
    background: rgb(234, 210, 77) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 600px;
    height: 600px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 40%;
    top: 60%;
    z-index: -1;
    animation-name: animation-gradient-2;
}

.gradient-3 {
    background: rgb(4, 0, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 500px;
    height: 500px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 50%;
    top: 50%;
    z-index: -3;
    animation-name: animation-gradient-3;
}

.container{
    display: grid;
    justify-items: center;
    gap: 50px;
}

.wrapper{
    perspective: var(--max);   
}

.glassmorphism{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 var(--colorBoxShadow); 
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 4px solid var(--colorBorder);
}

.wrapper__card{
    width: var(--max);
    aspect-ratio: 18/9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper--border{
    width: 97%;
    height: 94%;
    position: absolute;
    border: 4px solid rgba(34, 255, 0, 0.486);
}

.wrapper__data{
    display: grid;
    place-content: center;
}

.wrapper__name{
    width: 900px;
    height: 70%;
    background: rgba(82, 80, 80, 0.486);
    filter: drop-shadow(12px 12px 4px var(--colorBoxShadow));
    display: grid;
    place-content: center;
    margin-top: 40px;
    border-radius: 50px;
    perspective: var(--max);
    border: 4px solid rgba(3, 3, 3, 0.562);
}

.wrapper__name > .wrapper__text--primary{
    font-family: var(--fontData);
    font-weight: bold;
    font-size: 50px;
    color: white;
    perspective: var(--max);
    margin: 0;
}
.wrapper__text--secondary > span{
    font-weight: bold;
    font-size: 23px;
}

.wrapper__data > p{
    font-family: var(--fontData);
    margin: 30px 60px 0 60px;
    padding: 0 150px 20px 150px ;
    text-align: center;
    border-bottom: 2px solid var(--colorBorder);
}

.wrapper__description{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 40px 40px 50px 0;
}


.wrapper__text--secondary{
    font-family:  var(--fontDescription);
    font-size: 19px;
    font-weight: bold;
    text-align: justify;
}

.wrapper__image{
    width: 190%;
    height: 300px;
    background: var(--backgroundPhoto);
    position: relative;
    margin-left: 40px;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(13px 13px 4px var(--colorBoxShadow));
    perspective: var(--max);
    border: 4px solid rgba(0,0,0,0.639093137254902);
}

.wrapper__image--size{
    position: absolute;
    width: 100%;
    height: 100%;
}

.container__icons{
    display: flex;
    gap: 20px;
    z-index: 1;
}

.container__icons > a:hover{
    filter: drop-shadow(8px 8px 4px var(--colorBoxShadow));
}
path{
    fill: white;
}


#resaltador{
    font-weight: bold;
}
strong{
    color: #2f04ff;
}	
.containerRight-Perfil{
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 33px;
}

@keyframes animation-gradient-1 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
        rotate(80deg) translateX(30%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
        rotate(240deg) translateX(15%);
    }
    100% {
        transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
    }
}

@keyframes animation-gradient-2 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
        rotate(110deg) translateX(-5%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
        rotate(300deg) translateX(-10%);
    }
    100% {
        transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
    }
  }
  
  @keyframes animation-gradient-3 {
    0% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%)
        translateY(10%);
    }
    20% {
        transform: translateY(-50%) translateX(-50%) translateX(20%)
        translateY(-30%);
    }
    40% {
        transform: translateY(-50%) translateX(-50%) translateX(-25%)
        translateY(-15%);
    }
    60% {
        transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
    }
    80% {
        transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
    }
    100% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%)
        translateY(10%);
    }
}